[submodule "third_party/vkspecgen"]
	path = third_party/vkspecgen
	url = https://github.com/googlestadia/vkspecgen.git
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
