{{/*
 * Copyright (C) 2017 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */}}

{{/*
  Does the layer insert pre and post printf?
*/}}
{{Global "LayerPrePostPrint" ""}}

{{/*
  Does the base interceptor insert pre and post printf?
*/}}
{{Global "BaseInterceptorPrint" ""}}

{{/*
  List of device extensions implemented by this layer
*/}}
{{define "ImplementedDeviceExtensions"}}{{end}}

{{/*
  List of instance extensions implemented by this layer
*/}}
{{define "ImplementedInstanceExtensions"}}{{end}}

{{/*
  List of entry functions that will be manually implemented
*/}}
{{define "CustomEntryFunctions"}}{{end}}

{{/*
  Specify if the layer intercepts all commands
*/}}
{{define "InterceptAllCommands"}}{{end}}

{{/*
  List of commands that this layer intercepts pre & post
*/}}
{{define "PrePostInterceptedCommandsList"}}{{end}}

{{/*
  List of commands that this layer intercepts only pre
*/}}
{{define "PreInterceptedCommandsList"}}{{end}}

{{/*
  List of commands that this layer intercepts only post
*/}}
{{define "PostInterceptedCommandsList"}}{{end}}

{{/*
  List of Vulkan objects that will be wrapped
  Each object should be defined in WrappedObjectTypes
*/}}
{{define "WrappedObjects"}}{{end}}

{{/*
  Definition of wrapped Vulkan objects
*/}}
{{define "WrappedObjectTypes"}}{{end}}

{{/*
  Specify if the layer needs a debug callback
*/}}
{{define "DefineDebugCallback"}}{{end}}

{{/*
  Specify if the layer needs coherent memory
*/}}
{{define "EnforceCoherentMemory"}}{{end}}

{{/*
  Specify if a custom PreCreateDevice should be called in CreateDevice
*/}}
{{define "CallCustomPreCreateDevice"}}{{end}}

{{/*
  List of extensions to ignore, most platform specific extension fit here
*/}}
{{define "PlatformSpecificExtensions"}}
VK_KHR_xlib_surface
VK_KHR_xcb_surface
VK_KHR_wayland_surface
VK_KHR_mir_surface
VK_KHR_android_surface
VK_KHR_win32_surface
VK_KHR_android_surface
VK_ANDROID_native_buffer
VK_MVK_macos_surface
{{end}}

{{/*
  List of extensions to include in this layer. This list can be used to
  override list of excluded platform specific extensions in layergen.
*/}}
{{define "LayerIncludedExtensions"}}{{end}}
